.brand-name{
	color: #A85425;
	font-size: 1.5rem;
	white-space: nowrap;
	font-family: 'Cormorant Garamond';
}


.header{
	position: absolute;
	top: 10%;
	left: 10%;
}
.header h1{
	color: white;
	font-size: clamp(2.8125rem, 0.7031rem + 6.75vw, 4.5rem);
	font-weight: 500;
}



.sub-header-text{
	color: white;
	max-width: 400px;
	font-family: 'Cormorant Garamond';
	font-size: clamp(0.75rem, 0.2813rem + 1.5vw, 1.125rem);
}

.inquire-button{
	margin-top: 1em;
	color: white;
	background-color: var(--accentGreen);
	border-style: none;
	padding: .5em 1.5em;
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 20px;
	border-radius: 3px;
	transition: all ease .2s;
}

.inquire-button:hover{
	color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
	cursor: pointer;
	transform: scale(1.05);
	transition: all ease .2s;
}


.hero-page{
	overflow: hidden;
	max-width: 100%;
	position: relative;
	/* background: url('/background images/HeroPage3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position-y: 50%;
	background-position-x: 0;
	background-size: 110%; */
}

.hero-image{
	max-width: 100%;
	scale: 100%;
	z-index: -1;
	object-fit: cover;
	object-position:100% -9em;
}
.sub-header{
	position: absolute;
}

.--center-text{
	text-align: center;
}

section{
	padding: 2.65rem 5rem;
}

.split{
	display: flex;
	flex-direction: row;
}

.split > * + *{
	margin-left: 2.15em;
}

@media screen and (max-width: 768px){
	.split{
		flex-direction: column;
	}
	.split > * + *{
			margin-left: 0;
			margin-top: 2em;
	}
}

.bg-white{
	background-color: white;
}

.bg-green{
	background-color: var(--accentGreen);
}

.bg-gray{
	background-color: #f7f7f7;
}

.frogs{
	color: white;
}

.content{
	font-size: clamp(1rem, 0.6875rem + 1vw, 1.25rem);
}

.content{
	flex-basis: 100%;
}

.--content-center{
	display: grid;
	justify-content: center;
	align-items: center;
	max-width: 600px;
}

.image-container img{
	object-fit: cover;
	max-width: 100%;
}

.image-container{
	flex-basis: 100%;
}

.about-us-info-container{
	display: flex;
	flex-direction: row;
}

/* About us Media Queries */

@media screen and (max-width: 768px){
	.about-us-info-container{
		display: flex;
		flex-direction: column;
	}
	.about-us-info{
		height: 200px;
	}
}

.about-us-info{
	margin: 1em 1em;
	flex-basis: 100%;
	text-align: left;
	color: white;
	min-height: 400px;
	background-color: var(--accentGreen);
	border-radius: 8px;
	overflow: hidden;
}

.about-us-info h2, .about-us-info p{
 padding-left: 20px;
 padding-top: 20px;
} 

.about-us-info img{
	max-width: 100%;
}

/* HomePage Media Queries */

@media screen and (width > 1000px){
	.sub-header{
		margin-top: 2em;
		position: absolute;
		top: 35%;
		left: 10%;
	}
}
@media screen and (max-width: 1000px) and (width>768px){
	.sub-header{
		padding: 0 1.25em;
		margin: 0;
		top: 50%;
		left: 10%;
	}
}

@media screen and (max-width: 1000px){

	.hero-page{
		width: 100%;
		height: 100%;
	}

	.hero-image{
		height: 120vh;
		z-index: -1;
		object-fit: cover;
		object-position: 60% -5em;
	}

}
@media screen and (width<830px) and (width >768px){
	.hero-image{
		height: 100vh;
		object-position: 60% -3em;
	}
	.header{
		position: absolute;
		top: 5%;
		left: 0; 
		right: 0; 
		margin-left: auto; 
		margin-right: auto; 
		text-align: center;
	}
	.sub-header{
		top: 56%;
		left: 6%;
	}
	.sub-header-text{
		font-size: 1.15rem;
		max-width: 350px;
	}
}
@media screen and (max-width: 768px){

	.header{
		position: absolute;
		top: 5%;
		left: 0; 
		right: 0; 
		margin-left: auto; 
		margin-right: auto; 
		text-align: center;
	}

	.hero-page{
		width: 100%;
		height: 100%;
	}

	.hero-image{
		height: 100vh;
		z-index: -1;
		object-fit: cover;
		object-position: 60% -3em;
	}

	.sub-header{
		position: relative;
		
	}
	.sub-header-text{
		max-width: 100%;
		color: var(--accentGray);
	}
}

@media screen and (max-width: 560px){
	section{
		padding: 2rem 3rem;
	}

	.header{
		position: absolute;
		top: 5%;
		left: 0; 
		right: 0; 
		margin-left: auto; 
		margin-right: auto; 
		text-align: center;
	}

	.hero-page{
		width: 100%;
		height: 100%;
	}

	.hero-image{
		scale: 100%;
		height: 90vh;
		z-index: -1;
		object-fit: cover;
		object-position: 64% 100%;
	}

	.sub-header{
		margin-top: 12%;
		padding: 0 3em;
		position: relative;
	}

	.sub-header-text{
		max-width: 100%;
		color: var(--accentGray);
	}

	.inquire-button{
		display: block;
		margin: 1em auto;
	}
}

