<footer>
	<div class="footer-container">
		<div class="footer-section --footer-main">
			<div class="logo-name">
				<img src="../Icons/jj-logo.png" alt="Logo" class="logo" width="64"  height="64">
				<h2 class="brand-name">JungleJewels</h3>
			</div>
			<p>
				For more than 30 years keeping and breeding of exotic animals has been our passion. Located in Leyte, Philippines, we take full advantage of the local climate and keep our reptiles and birds outdoor all year round, where they enjoy natural sun light and seasonal changes of temperature and rainfall.
		</div>
		<div class="footer-section --footer-browse">
			<h3>Browse</h3>
			<ul>
				<li><a href="index.html">Home</a></li>
				<!-- <li><a href="">About Us</a></li> -->
				<li><a href="contact.html">Contact</a></li>
				<li><a href="news.html">News</a></li>
			</ul>
		</div>
		<div class="footer-section --footer-animals">
			<h3>Animals</h3>
			<ul>
				<li><a href="chameleons.html">Chameleons</a></li>
				<li><a href="bearded_dragons.html">Bearded Dragons</a></li>
				<li><a href="frogs.html">Frogs</a></li>
				<li><a href="birds.html">Gouldian Finches</a></li>
				<li><a href="rainbow loris.html">Rainbow Loris</a></li>
			</ul>
		</div>
		<div class="footer-section --footer-contacts ">
			<h3>Contact</h3>
			<div class="footer-contacts-icon"><img src="Icons/Facebook_Icon.svg" alt="Facebook Icon" width="28" height="28"> <a style="font-family: 'Roboto'; margin-left:.5rem; font-size: .9rem;" href="https://www.facebook.com/jj.poisonfrogger" target=”_blank”>JJtim</a></div>
			<div class="footer-contacts-icon"><img src="Icons/Email_Icon.svg" alt="Facebook Icon" width="28" height="28"> <p>junglejewelsfarm@gmail.com</p></div>
		</div>
	</div>
	<div class="copyright"> <p class="left">@Copyright 2023</p>	<p class="right">Privacy Policy</p></div>
</footer>